:root {
    --vermelho: #e50914;
    --preta: #141414;
    /* criar variáveis em css: no root. */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* para limitar os elementos internos à borda da caixa */
}

/* elementos base */
body {
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    /* permite o uso de flexbox. Deixa flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* espaço entre h2 e nav (tags filhas do container) */
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5) 100%), url('../img/imagem-capa.jpg');
    height: 490px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centraliza em relação ao eixo principal (column) */

    align-items: flex-start;
    /* refere-se ao lado esquerdo da linha */
    /* justify-content e align-items se invertem. Lembrar que o primeiro sempre é em relação ao flex-direction; */
}

.filme-principal .descricao {
    margin-top: 1%;
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin-top: 25%;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    color: white;
    border: none;

    padding: 15px 30px;
    margin-right: 15px;

    font-size: 12px;

    cursor: pointer;

    transition: .2s ease all;
    /* cuida da transição de uma animação a outra */
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 10px;
}

.container {
    margin-left: 30px;
    margin-right: 20px;
    /* vantagem da classe wrapper é não ter que definir isso para todos os elementos */
}

.filme-principal .container {
    width: 60%;
    /* para não ocupar toda a tela */
}

/* carousel */
.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}